.section-projects {
    background-color: rgb(216, 216, 216);
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-work {
    background-color: whitesmoke;
    padding-top: 70px;
    padding-bottom: 70px;
}

.project-section {
    background-color: whitesmoke;
    padding-top: 50px;
    padding-bottom: 30px;
}

.work-section {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(212, 226, 223);
    padding-top: 50px;
    padding-bottom: 30px;
}